<app-three-animation></app-three-animation>
<div class="main-box">
  <mat-card class="dashboard-card">
    <mat-card-content class="posts">
      <div *ngIf="posts.length == 0" class="no-posts">
        No posts yet...
      </div>
      <mat-list *ngFor="let post of posts;">
        <mat-card>
          <mat-card-content>
            <div class="user">@{{post.username}}</div>
            <div class="heading">{{post.title}}</div>
            <div>{{post.message}}</div>
          </mat-card-content>
        </mat-card>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="post-area">
    <mat-card-content>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Give it a cool title</mat-label>
        <input matInput [(ngModel)]="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Leave a message</mat-label>
        <textarea matInput [(ngModel)]="message"></textarea>
      </mat-form-field>
      <button
        class="post-button"
        mat-button
        (click)="post()"
      >Post
      </button>
    </mat-card-content>
  </mat-card>
</div>
